<% form_for :profile, :url => { :action => 'update' }, :method => :post do |f| %>

	<%= f.text_field :email, :class => 'text' %>
	<%= f.text_field :display_name, :class => 'text' %>
	<%= f.text_field :cell_number, :class => 'text' %>
	<%= f.select :cell_carrier, Profile.cell_phone_carriers, {}, { :class => 'select' }%>
	
	<%= submit_tag 'Submit changes', :class => 'submit', :class => 'button' %>
<% end %>
<h2>Links</h2>
<ul>
	<li><%= link_to 'Cancel', :action => 'show' %></li>
	<li><%= link_to 'Logout', :controller => 'accounts', :action => 'logout' %></li>
</ul>
<p>Find me in app/views/profiles/edit.html.erb</p>
