<% title "#{display_name(requested_profile, :case => :possessive)} Profile" -%>
<%= h1_title -%>

<div><%= avatar_tag(requested_profile, :size => 80) %></div>
<table>
	<tr>
		<th>Display Name</th>
		<td><%= requested_profile.display_name -%></td>
	</tr>
	<tr>
		<th>Email</th>
		<td><%= requested_profile.email -%></td>
	</tr>
	<tr>
		<th>Cell Phone</th>
		<td><%= requested_profile.cell_number -%></td>
	</tr>
	<tr>
		<th>Cell Phone Provider</th>
		<td><%= requested_profile.cell_carrier -%></td>
	</tr>
</table>
<h2>Links</h2>
<ul>
	<% if logged_in? -%>
		<% if is_self? -%>
			<li><%= link_to 'Edit', edit_profile_path -%></li>
			<li><%= link_to 'Tier 1 Following', following_by_tier_path(:tier => 1) -%></li>
			<li><%= link_to 'Tier 2 Following', following_by_tier_path(:tier => 2) -%></li>
			<li><%= link_to 'Tier 3 Following', following_by_tier_path(:tier => 3) -%></li>
		<% elsif current_user.following?(requested_profile) -%>
			<li><%= link_to 'Move to Tier', move_to_tier_path(:profile_id => current_user, :follow_profile_id => requested_profile), :method => :post -%></li>
			<li><%= link_to 'Unfollow!', unfollow_path(:profile_id => current_user, :follow_profile_id => requested_profile), :method => :post -%></li>
		<% else -%>
			<li><%= link_to 'Follow!', follow_path(:profile_id => current_user, :follow_profile_id => requested_profile), :method => :post -%></li>
		<% end -%>
		<li><%= link_to 'Followers', followers_path -%></li>
		<li><%= link_to 'Following', following_path -%></li>
		<li><%= link_to 'Friends', friends_path -%></li>
		<li><%= link_to 'Logout', logout_path -%></li>
	<% end -%>
</ul>