<h1>Profiles#show</h1>
<div><%= avatar_tag(requested_profile, :size => 80) %></div>
<dl>
	<dt>Display Name</dt>
	<dd><%= requested_profile.display_name -%></dd>
	
	<dt>Email</dt>
	<dd><%= requested_profile.email -%></dd>
	
	<dt>Cell Phone</dt>
	<dd><%= requested_profile.cell_number -%></dd>
	
	<dt>Cell Phone Provider</dt>
	<dd><%= requested_profile.cell_carrier -%></dd>
</dl>
<h2>Links</h2>
<ul>
	<li><%= link_to 'Edit', :action => 'edit' %> if logged_in? and is_self?</li>
	<% if logged_in? && !is_self? -%>
	<li><%= link_to 'Follow!', :controller => 'friends', :action => 'follow', :profile_id => current_user, :follow_profile_id => requested_profile %> if logged_in? and not is_self? and not following?</li>
	<li><%= link_to 'Move to Tier', :controller => 'friends', :action => 'move_to_tier', :profile_id => current_user, :follow_profile_id => requested_profile %> if logged_in? and not is_self? and following?</li>
	<li><%= link_to 'Unfollow!', :controller => 'friends', :action => 'unfollow', :profile_id => current_user, :follow_profile_id => requested_profile %> if logged_in? and not is_self? and following?</li>
	<% end -%>
	<li><%= link_to 'Followers', :controller => 'friends', :action => 'followers' %></li>
	<li><%= link_to 'Following', :controller => 'friends', :action => 'following' %></li>
	<li><%= link_to 'Tier 1 Following', :controller => 'friends', :action => 'following_by_tier', :tier => 1 %> if logged_in?</li>
	<li><%= link_to 'Tier 2 Following', :controller => 'friends', :action => 'following_by_tier', :tier => 2 %> if logged_in?</li>
	<li><%= link_to 'Tier 3 Following', :controller => 'friends', :action => 'following_by_tier', :tier => 3 %> if logged_in?</li>
	<li><%= link_to 'Friends', :controller => 'friends', :action => 'friends' %></li>
	<li><%= link_to 'Logout', :controller => 'accounts', :action => 'logout' %> if logged_in?</li>
</ul>
<p>Find me in app/views/profiles/show.html.erb</p>
