<% title 'Followers' -%>
<%= h1_title -%>

<p>People following <%= requested_profile %></p>
<%= render :partial => 'following_list', :locals => { :list => requested_profile.followers } %>
<h2>Links</h2>
<ul>
	<li><%= link_to 'Following', following_path -%></li>
	<li><%= link_to 'Friends', friends_path -%></li>
	<li><%= link_to 'Logout', logout_path -%> if logged_in?</li>
</ul>