<% title 'Following' -%>
<%= h1_title -%>

<p>
	People <%= requested_profile %> is following
</p>
<% if is_self? -%>
	<% [1, 2, 3].each do |tier| -%>
		<h2>Tier <%= tier -%></h2>
		<%= render :partial => 'following_list', :locals => { :list => requested_profile.followees.by_tier(tier) } -%>
	<% end -%>
<% else -%>
	<%= render :partial => 'following_list', :locals => { :list => requested_profile.followees } %>
<% end -%>
<h2>Links</h2>
<ul>
	<li><%= link_to 'Followers', followers_path -%></li>
	<li><%= link_to 'Friends', friends_path -%></li>
	<li><%= link_to 'Logout', logout_path -%> if logged_in?</li>
</ul>
