<% title "Following" -%>
<% nav_section 'contacts' -%>

<p class='section'>
<% with_grammatical_context do |gc| -%>
  <%= gc.subject -%>
  <% if requested_profile.followees.any? -%>
    <%= gc.conjugate('is') -%> following
  	<%= 'person'.quantitize(requested_profile.followees) %>.
  <% else -%>
    <%= gc.conjugate('is') -%> not following anybody.
  <% end -%>
<% end -%>
</p>

<% [1, 2, 3].each do |tier| -%>
	<h2>Tier <%= tier -%></h2>
	<%= render :partial => 'following_list', :locals => { :list => requested_profile.followees.by_tier(tier) } -%>
<% end -%>
