<% title 'Help Pages' -%>
<% nav_section 'help' -%>

<ul id='help_index' class='section'>
	<li><%= link_to 'About Us', document_path(:page => 'about_us'), { :class => 'green' } -%></li>
	<li><%= link_to 'Using Airport Codes', document_path(:page => 'airport_codes'), { :class => 'blue' } -%></li>
	<li><%= link_to 'Privacy Policy', document_path(:page => 'privacy_policy'), { :class => 'orange' } -%></li>
	<li><%= link_to 'Terms of Service', document_path(:page => 'terms_of_service'), { :class => 'red' } -%></li>
	<li><%= link_to 'Tour', document_path(:page => 'tour'), { :class => 'dark_blue' } -%></li>
</ul>