<% title 'Help Pages' -%>
<% nav_section 'help' -%>

<ul class='section'>
	<li><%= link_to 'About Us', document_path(:page => 'about_us') -%></li>
	<li><%= link_to 'Using Airport Codes', document_path(:page => 'airport_codes') -%></li>
	<li><%= link_to 'Privacy Policy', document_path(:page => 'privacy_policy') -%></li>
	<li><%= link_to 'Terms of Service', document_path(:page => 'terms_of_service') -%></li>
	<li><%= link_to 'Tour', document_path(:page => 'tour') -%></li>
</ul>