<h1>Static#welcome</h1>
<h2>Links</h2>
<ul>
	<li><%= link_to 'About Us', document_path(:page => 'about_us') -%></li>
	<li><%= link_to 'Privacy Policy', document_path(:page => 'privacy_policy') -%></li>
	<li><%= link_to 'Terms of Service', document_path(:page => 'terms_of_service') -%></li>
	<li><%= link_to 'Signup', signup_form_path -%> unless logged_in?</li>
	<li><%= link_to 'Login', login_form_path -%> unless logged_in?</li>
	<li><%= link_to 'Logout', logout_path -%> if logged_in?</li>
</ul>