<% @title = yield(:title) || "Who's Around?" -%>

<html>
	<head>
		<title>Seek You ~ <%= @title %></title>
		<%= stylesheet_link_tag 'reset', :media => 'all' %>
		<%= stylesheet_link_tag 'layout', :media => 'all' %>
		<%= stylesheet_link_tag 'navbar', :media => 'screen' %>
		<%= stylesheet_link_tag 'color', :media => 'screen' %>
		<%= stylesheet_link_tag 'browser', :media => 'screen' %>
	</head>
	
	<body>
		<div id='wrapper'>
			<div id='header'><%= render :partial => '/include/header' -%></div>
			<div id='main'>
				<div id='sidebar'><%= render :partial => '/include/sidebar' -%></div>
				<div id='content'>
					<%= render_flash %>
					<%= yield -%>
				</div>
				<div class='baseline'>&nbsp;</div>
			</div>
			<div id='navbar'><%= render :partial => '/include/navbar' -%></div>
			<div id='footer'><%= render :partial => '/include/footer' -%></div>
		</div>
	</body>
</html>