<% @title = yield(:title) || "Who's Around?" -%>

<html>
	<head>
		<title>Seek You ~ <%= @title %></title>
		<%= stylesheet_link_tag 'reset', :media => 'all' %>
		<%= stylesheet_link_tag 'layout', :media => 'all' %>
	</head>
	
	<body>
		<div id='content'>
			<%= render_flash %>
			<%= yield -%>
		</div>
	</body>
</html>